body {
    background: url("../img/fondo2.jpg") no-repeat;
    background-size: 100% auto;
    height: 1080px;
    overflow: hidden;
}

.titles {
    text-align: center;
    margin-bottom: 2%;
}

.samatitle {
    font-family: 'Dosis', sans-serif;
    font-size: 6vw;
    opacity: 0.8;
}

.samasubtitle {
    font-family: 'Dosis', sans-serif;
    font-size: 2vw;
    opacity: 0.8;
}

.cont-table {
    text-align: center;
    width: 100%;
    overflow: auto;
    height: 30%;
}

.styled-table {
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


.ingre-button {
    margin-top: 5px;
    text-align: center;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border: 1px solid #009879;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background: #009879;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #198754;
}

.ingre-button-crear {
    position: absolute;
    top: 90%;
    right: 47%;
    text-align: center;
}