{% include "head.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/nuevo.css' %}">
    <title>Nuevo Alumno</title>
{% endblock extra_css %}



 <div class="titles">
    <h1 class="samatitle">Nuevo Alumno</h1>
</div>

<div class="cont-table">

    <form class="edit-form" method="POST">
        <table class="table-form">
            {{ formaAlumno }}
        </table>
        <div class="form-button">
            <button type="submit" class="btn btn-outline-success">Agregar</button>
        </div>
        {% csrf_token %}
    </form>

</div>



{% include "foot.html" %}